<div class="container-fluid sub-page">
    <div class="row product-top">
        <div class="col-md-3 col-md-offset-1 about-title">About Us</div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <div class="col-md-2 col-md-offset-1 about-image-area-small">
                <div class="about-img-small"><a href="http://www.hp.com"><img src="/img/hp-small.png" alt="Hewlett-Packard Enterprise Services" /></a></div>
                <div class="about-img-small"><a href="http://www.gsa.gov"><img src="/img/gsa-logo-small.jpg" alt="GSA"/></a></div>
                <div class="about-img-small"><a href="https://18f.gsa.gov"><img src="/img/logo-18f.png" width="56" alt="18F"/></a></div>
            </div>
            <div class="fix-float"></div>
            <div class="about-image-area">
                <div class="about-img"><a href="http://www.hp.com"><img src="/img/hp.png" width="100" alt="Hewlett-Packard Enterprise Services" /></a></div>
                <div class="about-img"><a href="http://www.gsa.gov"><img src="/img/gsa-logo.jpg" width="100" alt="GSA"/></a></div>
                <div class="about-img"><a href="https://18f.gsa.gov"><img src="/img/logo-18f.png" width="100" alt="18F"/></a></div>
            </div>
        </div>
        <div class="col-md-6 about-content">
            HP Enterprise Services (HPES) has a rich heritage of providing
            application development services for Federal Government clients. Today,
            notions such as Internet of Things (IoT) and New Style of IT (NSoIT),
            coupled with business drivers toward quicker ROI, higher quality, and
            greater transparency have fundamentally changed the way Government
            consumes and Industry provides mission-centric application services. Real
            application value is derived first from the end user and mission
            perspectives. HPES delivers Agile/DevOps services through our
            Applications Services and Program Excellence Practice. This Practice is
            dedicated to the full range of applications services with a focused
            emphasis on mission achievement using Agile/DevOps techniques.
        </div>
    </div>
</div>