<!-- VA Health Title Bar -->
<div class="title-area">
    <div class="row">
        <div class="col-md-9 heading-subtitles">
            <div class="heading-subtitle-right">Get Relief...</div>
            <div class="heading-subtitle-left">Get the Facts...</div>
        </div>
        <div class="col-md-2 heading-title">
            <a class="logo" href="/#home">
                Get Clear
                <div><img src="img/bird.png" class="heading-logo" alt="Get Clear"/> </div>
            </a>
        </div>
    </div>
</div>
