<div class="row home-container">
    <div class="col-md-11 col-md-offset-1">
        <div class="row">
            <div class="col-md-6 home-box">
                <div class="row">
                    <div class="col-md-12 home-subheading">
                        Find a Product...
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="searchTextBox" class="form-control home-control" placeholder="Enter a product brand and/or name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 home-subheading">
                        ...or Find What Products Contain Certain Irritants
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 home-tab-container">
                        <ul class="nav nav-tabs home-tab-list" id="irritantTab">
                            <li class="active home-tab"><a href="#fragrances">Fragrances</a></li>
                            <li class="home-tab"><a href="#emollients">Emollients</a></li>
                            <li class="home-tab"><a href="#sulfates">Sulfates</a></li>
                            <li class="home-tab"><a href="#essential_oils">Essential Oils</a></li>
                            <li class="home-tab"><a href="#metals">Miscellaneous</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="fragrances" class="tab-pane fade in active">
                                <div class="row">
                                    {{#each app.irritants.irritantsFragrance}}
                                    <div class="col-md-6 irritant-label">
                                        <input class="irritant-check" type="checkbox" id="{{this}}"/><label for="{{this}}" class="irritant-select">{{this}}</label>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div id="emollients" class="tab-pane fade">
                                <div class="row">
                                    {{#each app.irritants.irritantsEmollient}}
                                    <div class="col-md-6 irritant-label">
                                        <input class="irritant-check" type="checkbox" id="{{this}}"/><label for="{{this}}" class="irritant-select">{{this}}</label>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div id="sulfates" class="tab-pane fade">
                                <div class="row">
                                    {{#each app.irritants.irritantsSulfate}}
                                    <div class="col-md-6 irritant-label">
                                        <input class="irritant-check" type="checkbox" id="{{this}}"/><label for="{{this}}" class="irritant-select">{{this}}</label>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div id="essential_oils" class="tab-pane fade">
                                <div class="row">
                                    {{#each app.irritants.irritantsEssentialOil}}
                                    <div class="col-md-6 irritant-label">
                                        <input class="irritant-check" type="checkbox" id="{{this}}"/><label for="{{this}}" class="irritant-select">{{this}}</label>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div id="metals" class="tab-pane fade">
                                <div class="row">
                                    {{#each app.irritants.irritantsMisc}}
                                    <div class="col-md-6 irritant-label">
                                        <input class="irritant-check" type="checkbox" id="{{this}}"/><label for="{{this}}" class="irritant-select">{{this}}</label>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 home-search-button"><input id="searchButton" type="button" value=" Search " class="btn btn-success"/></div>
                </div>
                <div class="row">
                    <div class="col-md-12 spacer"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="searchMessage" class="alert alert-danger">
                            You must enter a product brand and/or name or select irritants before searching.
                        </div>
                    </div>
                </div>
            </div>


            <div id="loginContainer" class="col-md-4 col-md-offset-1 home-box home-login" style="display: none">
                <div id="authenticatedContainer" class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 home-subheading">
                            <div id="username"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img id="userImage" width="125px">
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-11 col-md-offset-1">
                                    <a href="#profile">Go to My Profile</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 spacer"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 col-md-offset-1">
                                    <div id="userIrritantSize"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 spacer"></div>
                    </div>
                    <div class="row badge-list">
                        <div class="col-md-4">
                            <img src="/img/apple.svg" alt="Apple App Store" id="apple">
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <img alt="Android app on Google Play" id="google"
                                 src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
                        </div>
                    </div>
                    <div class="row home-about">
                        <div class="col-md-6">
                            <div class="home-about"><a href="#/about">About Us</a></div>
                            <div><a href="#" onclick="logout();">Log out</a></div>
                        </div>
                    </div>
                </div>
                <div id="nonAuthenticatedContainer" class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 home-subheading">
                            Sign In
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 home-login-services">
                            <div class="home-login-service">
                                <a href="javascript:handleAuthClick();">
                                    <img src="/img/googleicon.png" alt="Google+ Login"/>
                                </a>
                            </div>
                            <div class="home-login-service">
                                <img src="/img/facebook.png" alt="Facebook Login"/>
                            </div>
                            <div class="home-login-service">
                                <img src="/img/twitter.png" alt="Twitter Login"/>
                            </div>
                            <div class="home-login-service">
                                <img src="/img/yammer.png" alt="Yammer Login"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            Not a member? Log in and get the following benefits:
                            <br>
                            <ul>
                                <li>Stay organized with profiles for each member of your family.</li>
                                <li>Maintain a comprehensive list of products you want to avoid.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row badge-list">
                        <div class="col-md-6">
                            <img src="/img/apple.svg" alt="Apple App Store" id="apple">
                        </div>
                        <div class="col-md-6">
                            <img alt="Android app on Google Play" id="google"
                                 src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 home-about">
                            <a href="/#about">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>