<div class="container-fluid sub-page">
    <div class="row">
        <div id="data-load-failure" class="col-md-10 col-md-offset-1 alert alert-danger product-top"
             style="display: none;">
            Failed to get product detail information. Check your internet connection and try refreshing this page.
        </div>
    </div>
    <div class="row product-top">
        <div class="col-md-11 col-md-offset-1 product-title">{{brand_name}}</div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1 product-image-area">
            <div class="row">
                <div class="col-md-12"><img class="product_image" src="{{image_urls.[0]}}" alt="{{brand_name}}"
                                            onerror="this.src='/img/no_image_lg.png'"
                                            width="250px"/></div>
            </div>
            <div class="row"><BR></div>
            <div class="row">
                <div class="col-md-12"><a href="#search_results">Return to Search Results</a></div>
            </div>
            <div class="row">
                <br>
            </div>
            <div class="row">
                <div class="col-md-12"><a href="#">New Search</a></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 product-subheading">
                    UPC
                </div>
            </div>
            <div class="row profile-row">
                <div class="col-md-12">
                    <p>{{upc}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 product-subheading">
                    Product Description
                </div>
            </div>
            <div class="row profile-row">
                <div class="col-md-12">
                    <p>{{package_label_principal_display_panel}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 product-subheading">
                    Ingredients
                </div>
            </div>
            <div class="row profile-row">
                <div class="col-md-12">
                    <p>{{#each ingredients}}
                        {{this}},
                        {{else}}
                        {{active_ingredient}}
                        {{/each}}</p>
                </div>
            </div>

            <div class="row" id="known-irritants-title" style="display: none;">
                <div class="col-md-10 product-subheading">
                    Known Irritants
                </div>
            </div>
            <div class="row profile-row">
                <div class="col-md-12 product-subheading">
                    {{#each knownIrritants}}
                    <button id="{{this}}" class="btn btn-default knownIrritant">{{this}}</button>
                    {{/each}}
                </div>
            </div>
            <div class="row profile-row">
                <div class="col-md-12" id="known-irritants-button" style="display: none;">
                    <button class="btn btn-success" id="known-irritants-submit" disabled="disabled">Add Selected Irritants to Profile</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="submit-success" class="alert alert-success" style="display: none;">
                        The selected irritants have successfully been added to your profile.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="submit-failure" class="alert alert-danger" style="display: none;">
                        Failed to add the selected irritants to your profile.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>