<div class="container-fluid sub-page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 profile-title">{{app.user.name}}</div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1 profile-image-area">
            <div class="row">
                <div class="col-md-12"><img height="200" width="200" src="{{app.user.imageUrl}}"/></div>
            </div>
            <div class="row profile-row">
                <div class="col-md-12"><a href="javascript:logoutGoHome();">Log Out</a></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 profile-subheading">
                    Known Irritants for My Profile
                </div>
            </div>
            <div class="row profile-row">
                <div class="col-md-2 profile-select-all-box">
                    <input type="checkbox" id="select-all"/><label for="select-all" class="profile-selectall">Select All</label>
                </div>
            </div>
            <div class="row profile-row">
                <div class="col-md-12 profile-subheading">
                    {{#each app.user.knownIrritantsList}}
                        <button id="{{this}}" class="btn btn-default knownIrritant">{{this}}</button>
                    {{/each}}
                </div>
            </div>
            <div class="row profile-row">
                <div class="col-md-12"><a href="#" data-toggle="modal" data-target="#irritantModal">Select Irritants</a></div>
            </div>
            <div class="row profile-row">
                <div class="col-md-12">
                    <button id="searchButton" class="btn btn-success">Search Database by Selected Irritants</button>
                </div>
            </div>
            <div class="row profile-row">
                <div class="col-md-10 profile-subheading">
                    My "Do Not Buy" List
                </div>
            </div>
            <div class="row profile-row">
                {{#each app.user.doNotBuyList}}
                <div class="col-md-2 do-not-buy">
                    <a href="#product_details/{{upc}}">
                        <img class="product_image" height="120" src="{{image_url}}" onerror="this.src='/img/no_image_sm.png'"/>
                        <div>{{brand_name}}</div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>

<!-- Irritant Modal -->
<div id="irritantModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Irritants to Add to Profile</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 home-tab-container">
                    <ul class="nav nav-tabs home-tab-list" id="irritantTab">
                        <li class="active home-tab"><a href="#fragrances">Fragrances</a></li>
                        <li class="home-tab"><a href="#emollients">Emollients</a></li>
                        <li class="home-tab"><a href="#sulfates">Sulfates</a></li>
                        <li class="home-tab"><a href="#essential_oils">Essential Oils</a></li>
                        <li class="home-tab"><a href="#metals">Miscellaneous</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="fragrances" class="tab-pane fade in active">
                            <div class="row">
                                {{#each app.irritants.irritantsFragrance}}
                                <div class="col-md-6">
                                    <input class="irritant-check" type="checkbox" id="{{this}}"/><label for="{{this}}" class="irritant-select">{{this}}</label>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div id="emollients" class="tab-pane fade">
                            <div class="row">
                                {{#each app.irritants.irritantsEmollient}}
                                <div class="col-md-6">
                                    <input class="irritant-check" type="checkbox" id="{{this}}"/><label for="{{this}}" class="irritant-select">{{this}}</label>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div id="sulfates" class="tab-pane fade">
                            <div class="row">
                                {{#each app.irritants.irritantsSulfate}}
                                <div class="col-md-6">
                                    <input class="irritant-check" type="checkbox" id="{{this}}"/><label for="{{this}}" class="irritant-select">{{this}}</label>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div id="essential_oils" class="tab-pane fade">
                            <div class="row">
                                {{#each app.irritants.irritantsEssentialOil}}
                                <div class="col-md-6">
                                    <input class="irritant-check" type="checkbox" id="{{this}}"/><label for="{{this}}" class="irritant-select">{{this}}</label>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div id="metals" class="tab-pane fade">
                            <div class="row">
                                {{#each app.irritants.irritantsMisc}}
                                <div class="col-md-6">
                                    <input class="irritant-check" type="checkbox" id="{{this}}"/><label for="{{this}}" class="irritant-select">{{this}}</label>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="saveIrritants" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>