<div class="row">
    <div class="col-md-2 search-item-image">
        <a href="#product_details/{{upc}}">
            <img class="product_image" src="{{image_urls.[0]}}" alt="{{brand_name}}"
                 onerror="this.src='/img/no_image_lg.png'" width="100px"/>
        </a>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12 search-item-check">
                <input type="checkbox" class="do-not-buy-checkbox {{upc}}" id="{{brand_name}}"><label
                    for="{{brand_name}}">Add to my Do Not Buy List</label>
            </div>
        </div>
        <div class="row search-item">
            <div class="col-md-12">
                <a href="#product_details/{{upc}}">
                    <div class="search-item-name">{{brand_name}}</div>
                </a>

                <div class="search-item-desc">{{package_label_principal_display_panel}}</div>
                <div>
                    <span class="search-item-known-irritants">Ingredients:</span>
                    {{#each ingredients}}
                    {{this}},
                    {{else}}
                    N/A
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>