<div class="modal fade" id="search-login-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-title search-modal-title">Looks Like You Aren't Signed In</div>
            </div>
            <div class="modal-body container-fluid">
                <div class="row">
                    <div class="col-md-12 home-login-services">
                        <div class="home-login-service">
                            <a href="javascript:handleAuthClick();">
                                <img src="/img/googleicon.png" alt="Google+ Login"/>
                            </a>
                        </div>
                        <div class="home-login-service">
                            <img src="/img/facebook.png" alt="Facebook Login"/>
                        </div>
                        <div class="home-login-service">
                            <img src="/img/twitter.png" alt="Twitter Login"/>
                        </div>
                        <div class="home-login-service">
                            <img src="/img/yammer.png" alt="Yammer Login"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        Not a member? Log in and get the following benefits:
                        <br>
                        <ul>
                            <li>Stay organized with profiles for each member of your family.</li>
                            <li>Maintain a comprehensive list of products you want to avoid.</li>
                        </ul>
                    </div>
                </div>
                <div class="row search-modal-badge-list">
                    <div class="col-md-6">
                        <img src="/img/apple.svg" alt="Apple App Store" id="apple">
                    </div>
                    <div class="col-md-6">
                        <img alt="Android app on Google Play" id="google"
                             src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png"/>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="container-fluid sub-page">
    <div class="row product-top">
        <div class="col-md-10 col-md-offset-1">
            <div id="data-load-failure" class="row alert alert-danger product-top" style="display: none;">
                Failed to get search results. Check your internet connection and try performing a new search.
            </div>
            <div id="searchResultsHeader" class="row">
                <div id="title" class="col-md-12 search-results-query">
                    <h3>Searching...</h3>
                </div>
                <div class="row">
                    <div class="col-md-12 new-search-button">
                        <button id="newSearch" class="btn btn-success" type="button" style="display: none;">New Search
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <!-- Search Result List-->
                        <div class="col-md-8">
                            <ul id="results-container" class="search-result-container">

                                <!-- Container for search_result_item.js-->
                            </ul>
                        </div>
                        <!-- End Search Result List-->

                        <div class="col-md-3 col-md-offset-1 search-result-sidebar">
                            <div class="row">
                                <div class="col-md-12 search-result-add-products">
                                    Products to add to my Profile
                                </div>
                            </div>
                            <div class="row">
                                <div id="do-not-buy-list" class="container-fluid search-result-add-items">
                                </div>
                            </div>
                            <div class="row search-result-add-button-row">
                                <div class="col-md-12 search-result-button">
                                    <button class="btn btn-success" disabled="disabled" id="submit-do-not-buy-list"
                                            type="button">Add Products to Profile
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="submit-success" class="alert alert-success" style="display: none;">
                                        Do Not Buy list successfully updated.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="submit-failure" class="alert alert-danger" style="display: none;">
                                        Failed to update your Do Not Buy list.
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="view-my-profile-link" style="display: none;">
                                <div class="col-md-12">
                                    <a href="#profile">View My Profile</a>
                                </div>
                            </div>
                            <div class="row">
                                <br>
                            </div>
                            <div class="row search-result-get-app">
                                <div class="col-md-12">
                                    Sync our handy mobile app with your account to review your profile and scan items
                                    while in the store
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 search-badge-list">
                                    <div class="search-badge-apple"><img src="/img/apple.svg" alt="Apple App Store"
                                                                         id="apple"></div>
                                    <div class="search-badge-google"><img alt="Android app on Google Play" id="google"
                                                                          src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>