body {
    /*padding: 50px;*/
    font: 14px "Open Sans", sans-serif;
    font-weight: 300;
    background-image: url('../img/nature_background.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    background-color: #b1cedd;
}

a {
    color: #53a044;
    font: 14px "Open Sans", sans-serif;
}

a:hover {
    color: #53a044;
}


.title-area {
    padding-top: 8px;
    padding-bottom: 28px;
    border-bottom: 4px solid #b1cedd;
    background-color: #ffffff;
    opacity: 0.8;
}

.sub-page {
    background-color: #ffffff;
    height: 1000px;
}

ul {
    padding: 15px;
}

.about-content {
    line-height: 180%;
}

.about-img {
    margin-bottom: 35px;
}

.about-image-area-small {
    display: none;
    margin-bottom: 25px;
    margin-top: 10px;
}

.about-image-area {
    display: block;
    margin-left: 20px;
}

.about-img-small {
    float: left;
    margin-right: 25px;
}

.about-title {
    padding-left: 35px;
}

.fix-float {
    clear: both;
}
/********** SEARCH **************/

.search-result-container {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: none;
}

.search-result-sidebar {
    background-color: #d8e7ee;
    border-radius: 10px 0px 0px 0px;
}

.search-results-query {
    font-size: 2.0em;
}

.search-results-query span {
    font-weight: bold;
}

.search-result-add-products {
    font-size: 1.15em;
    font-weight: 400;
    margin-bottom: 15px;
    padding-top: 15px;
}

.search-result-add-items label {
    margin-left: 8px;
}

.search-result-add-items, .search-result-add-button-row, .search-result-get-app, .search-result-app-link {
    margin-bottom: 15px;
}

.search-result-no-buy label {
    width: 90%;
}

.search-result-no-buy input {
    vertical-align: top;
}

.search-item {
    padding-top: 5px;
    padding-bottom: 35px;
}

.search-item-name {
    font-weight: 400;
    font-size: 1.2em;
}

.search-item-known-irritants {
    font-weight: 400;
    font-size: 1.05em;
}

.search-item-desc {
    margin-bottom: 8px;
}

.search-item-check label {
    margin-left: 10px;
    vertical-align: top;
}

.search-item-check input {
    vertical-align: top;
    margin-top: 4px;
}

.search-item-image {
    padding-left: 20px;
    margin-top: 5px;
}

.search-item-image img {
    width: 90px;
    height: 125px;
}

.search-badge-list {
    padding-bottom: 15px;
}

.search-badge-apple {
    margin-top: 3px;
    float: left;
    margin-right: 20px;
}

.search-badge-google {

}

.debug {
    border: 1px solid red;
}

.new-search-button {
    margin-bottom: 7px;
    margin-left: 16px;
}

.search-modal-title {
    font-size: 1.15em;
    font-weight: 400;
}

.search-modal-badge-list #apple {
    margin-top: 3px;
    margin-left: -3px;
}

.search-modal-badge-list #google {
    margin-left: -10px;
}

/********* PROFILE *************/

.profile-title, .about-title {
    padding-top: 40px;
    font-size: 2.0em;
    font-weight: 600;
}

.profile-subheading, .product-subheading {
    font-size: 1.25em;
    font-weight: 400;
}

.profile-row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-row img {
    background-color: #000;
}

.profile-subprofiles {
    padding-bottom: 25px;
}

.profile-subprofiles img {
    background-color: #000;
}

.profile-selectall {
    margin-left: 15px;
}

.modal-header {
    padding: 15px;
    border: none;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border: none;
}

.do-not-buy {
    height: 200px;
}

/********* PRODUCT ***********/

.product-search-return {
    float: right;
}

.product-title {
    font-size: 2.0em;
    float: left;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-subimages {
    margin-top: 15px;
}

.product-top {
    margin-top: 50px;
}

.product-image-area, .about-image-area {
    padding-left: 15px;
    padding-top: 5px;
    margin-right: 25px;
}

.irritant-select {
    margin-left: 10px;
    font-weight: normal;
}

/****** HEADING ***************/

.heading-subtitle-left {
    margin-top: 26px;
    font-size: 1.65em;
    color: #6c9c79;
    float: right;
    padding-right: 30px;
}

.heading-subtitle-right {
    margin-top: 26px;
    font-size: 1.65em;
    text-align: right;
    color: #6c9c79;
    float: right;
}

.heading-spacer {
    margin-right: 10px;
}

.heading-logo {

}

.heading-title a {
    font-size: 2.5em;
    font-weight: 400;
    margin-top: 15px;
    color: #117bb2;
    font-family: "Open Sans", sans-serif;
}

.heading-title a:hover {
    text-decoration: none;
}

.heading-logo {
    position: absolute;
    margin-top: -60px;
    left: 145px;
}

.heading-subtitles {
    margin-right: -60px;
}

.logo {
    position: relative;
    float: right;
}

/*********** HOME ****************/

.badge-list {
    padding-bottom: 15px;
}

.badge-list #apple {
    margin-top: 3px;
}

.home-container {
    padding-top: 100px;
}

.home-box {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px 0px 0px 0px;
    padding-left: 25px;
    padding-top: 5px;
}

.home-login {
    padding-left: 10px;
}

.home-subheading {
    padding-top: 15px;
    font-size: 1.2em;
    font-weight: 400;
    padding-bottom: 10px;
}

.home-control {
    background-color: #fff;
    opacity: 1;
    color: #000000;
    width: 99%;
}

.home-tab-container {
    background-color: #fff;
    margin-left: 15px;
    width: 94%;
    border: 1px solid #ccc;
}

.home-tab-list {
    padding: 0px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.home-login-service {
    float: left;
    margin-right: 15px;
}

.home-about {
    padding-bottom: 15px;
}

.nav-tabs > li > a {
    color: #ccc;
    border-radius: 0;
    border: 0;
    padding-top: 5px;
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active a {
    padding-top: 5px;
    font-size: 1.1em;
    border: 0px;
    border-left: 2px solid #127bb2;
    border-right: 2px solid #127bb2;
}

.nav-tabs > li.active > a, .nav-tabs > li.active a:focus {
    padding-top: 5px;
    font-size: 1.1em;
    border: 0px;
    border-left: 2px solid #127bb2;
    border-right: 2px solid #127bb2;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
    padding-top: 5px;
    font-size: 1.1em;
    border: 0px;
    border-left: 2px solid #127bb2;
    border-right: 2px solid #127bb2;
}

.nav-tabs {
    border-bottom: 0;
}

.home-search-button {
    width: 99%;
}

.home-search-button input {
    margin-top: 15px;
    float: right;
}

.spacer {
    height: 20px;
}

.irritant-label {
    margin-left: -5px;
    margin-right: -5px;
}

@media only screen and (max-width: 1510px) {

    .heading-subtitles {
    }

    .search-badge-google {
        margin-top: 25px;
    }

    .search-badge-apple {
        float: none;
    }

    .badge-list #google {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1375px) {
    .heading-subtitles {
        margin-right: -30px;
    }

    .profile-image-area {
        margin-right: 15px;
    }

    .search-badge-apple {
        margin-bottom: 25px;
    }

    .product-image-area {
        margin-right: 65px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

    .heading-subtitles {
        margin-right: 0px;
    }

    .logo {
        float: left;
    }

    .heading-title {
        white-space: nowrap;
    }

    .home-login-service {
        padding-left: 0px;
        margin-right: 10px;
    }

    .home-control {
        width: 100%;
    }

    .home-box {
        padding-left: 5px;
    }

    .product-image-area {
        margin-right: 75px;
        padding-left: 0px;
    }

    .product-title {
        margin-bottom: 15px;
        padding-left: 0;
    }

    .profile-image-area {
        margin-right: 35px;
        padding-bottom: 15px;
    }

    .profile-select-all-box {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .profile-title, .about-title {
        padding-top: 10px;
    }

    .sub-page {
        height: 1000px;
    }

    .search-result-no-buy label {
        width: 80%;
    }

    .search-item-image {
        padding-left: 0;
    }

    .badge-list #apple {
        margin-left: -5px;
    }

    .irritant-select {
        margin-left: 8px;
    }

    .about-content {
        margin-left: 45px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

    .heading-subtitles {
        display: table;
        padding-left: 45px;
    }

    .heading-subtitle-left {
        float: none;
        margin-top: 0;
        display: table-header-group;
    }

    .heading-subtitle-right {
        float: none;
        text-align: left;
        margin-top: 0;
        display: table-footer-group;
    }

    .heading-title {
        margin-top: -20px;
        padding-left: 45px;
    }

    .home-box {
        margin-left: 25px;
        width: 90%;
        padding-left: 10px;
    }

    .home-container {
        padding-top: 20px;
    }

    .home-tab-container {
        width: 96.5%;
    }

    .home-login {
        margin-top: 20px;
    }

    .title-area {
        padding-bottom: 10px;
    }

    .home-login-service {
        margin-right: 18px;
    }

    .product-title {
        font-size: 2.0em;
        float: left;
        margin-left: 0px;
    }

    .product-top {
        margin-top: 10px;
    }

    .product-image-area {
        padding-left: 15px;
        padding-top: 5px;
        margin-right: 0;
        padding-bottom: 15px;
    }

    .product-search-return {
        float: left;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .search-result-sidebar {
        margin-left: 15px;
        width: 90%;
    }

    .search-result-no-buy {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .search-result-app-link {
        padding-bottom: 15px;
    }

    .search-item {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .search-item-image {
        padding-left: 15px;
    }

    .badge-list #google {
        margin-top: 20px;
        margin-left: 0px;
    }

    .badge-list #apple {
        margin-left: 0px;
    }

    .search-modal-badge-list #apple {
        margin-top: 3px;
        margin-left: 50px;
        margin-bottom: 25px;
    }

    .search-modal-badge-list #google {
        margin-left: 53px;
    }

    .about-image-area {
        display: none;
    }

    .about-image-area-small {
        display: block;
    }

    .about-content {
        margin-left: 15px;
        margin-top: 10px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .heading-subtitle {

    }

    .home-tab-container {
        width: 94%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .heading-subtitle {

    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .heading-subtitle {

    }
}

