<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Get Clear - HP</title>

    <!-- some browser tabs like it low... -->
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
          content="931334585226-opain5mee8cpk5dka36n457hv39qm5j6.apps.googleusercontent.com">

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
    <link type="text/css" href="clientjs/bower_components/bootstrap/dist/css/bootstrap.css" media="all"
          rel="stylesheet"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
{{{body}}}

<!--TODO: Use Uglify to condense these libraries-->
<script type="text/javascript" src="clientjs/bower_components/jquery-2.1.0.min/index.js"></script>
<script type="text/javascript" src="clientjs/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="clientjs/bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="clientjs/bower_components/backbone/backbone.js"></script>
<script type="text/javascript" src="clientjs/bower_components/marionette/lib/backbone.marionette.min.js"></script>
<script type="text/javascript" src="clientjs/bower_components/handlebars/handlebars.js"></script>
<script type="text/javascript" src="clientjs/lib/template_helpers.js"></script>

<script type="text/javascript" src="clientjs/js/web_service_calls.js"></script>
<script type="text/javascript" src="clientjs/app.js"></script>
<script type="text/javascript" src="clientjs/route/route.js"></script>

<script type="text/javascript" src="clientjs/templates.js"></script>
<script type="text/javascript" src="clientjs/base.js"></script>
<script type="text/javascript" src="clientjs/view/layout.js"></script>
<script type="text/javascript" src="clientjs/view/header.js"></script>
<script type="text/javascript" src="clientjs/view/footer.js"></script>
<script type="text/javascript" src="clientjs/view/home.js"></script>
<script type="text/javascript" src="clientjs/view/profile.js"></script>
<script type="text/javascript" src="clientjs/view/product_details.js"></script>
<script type="text/javascript" src="clientjs/view/search_result_item.js"></script>
<script type="text/javascript" src="clientjs/view/search_results.js"></script>
<script type="text/javascript" src="clientjs/view/about.js"></script>

<script type="text/javascript" src="clientjs/data/gc_data.js"></script>

<script type="text/javascript" src="clientjs/js/utils.js"></script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

</body>
</html>